################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
CalculadoraCedears.Desktop/.vscode/extensions.json
/CalculadoraCedears.Desktop/.vscode
/CalculadoraCedears.Api/bin/Debug/net8.0
/CalculadoraCedears.Api/obj/Debug/net8.0
/CalculadoraCedears.Api/obj
/CalculadoraCedears.Api.Db/bin/Debug
/CalculadoraCedears.Api.Db/obj/Debug
/CalculadoraCedears.Api.Db/CalculadoraCedears.Api.Db.sqlproj.user
/CalculadoraCedears.Api.Dto/bin/Debug/netstandard2.1
/CalculadoraCedears.Api.Dto/obj/Debug/netstandard2.1
/CalculadoraCedears.Api.Dto/obj
/CalculadoraCedears.Api.Unit.Tests/bin/Debug/net8.0
/CalculadoraCedears.Api.Unit.Tests/obj/Debug/net8.0
/CalculadoraCedears.Api.Unit.Tests/obj
/CalculadoraCedears.Api.Db/CalculadoraCedears.Api.Db.dbmdl
/CalculadoraCedears.Api.Db/CalculadoraCedears.Api.Db.jfm
/CaluladoraCedears.Api.Db/CalculadoraCedears.Api.Db.sqlproj.user
CalculadoraCedears.Desktop/src-tauri/oauth_config.json
CalculadoraCedears.Desktop/~/.tauri/CalculadoraCedears.key
CalculadoraCedears.Desktop/~/.tauri/CalculadoraCedears.key.pub
